<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Perfumes- Adan Store</title>
	<!-- Favicon-->
	<link rel="shortcut icon" href="assets/images/favicon.png" />
	<!-- Plugins CSS -->
	<link rel="stylesheet" href="assets/css/plugins.css">
	<!-- Bootstap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- Main Style CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">


	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="css/styles.css" rel="stylesheet" />
	<link href="css/cartstyles.css" rel="stylesheet" />


	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="css/styles.css" rel="stylesheet" />
	<link href="css/cartstyles.css" rel="stylesheet" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css">
	<!------ Include the above in your HEAD tag ---------->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
	<!-- Navigation-->
	<div class="top-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-10 col-sm-8 col-md-5 col-lg-4">

				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">

				</div>
				<div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
					<span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
					<ul class="customer-links list-inline">
						{{#if isLoggedIn}}

						<li><a href="/profile"><i class="fas fa-user-circle"></i>{{userName}}</a></li>
						<li><a href="/logout">Logout</a></li>
						{{else}}
						<li><a href="/login">Login</a></li>
						<li><a href="/signup">Create Account</a></li>
						{{/if}}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--End Top Header-->
	<!--Header-->
	<div class="header-wrap animated d-flex" style="background: #B7B9BD; border-radius: 10px;">
		<div class="container-fluid">
			<div class="row align-items-center">
				<!--Desktop Logo-->
				<div class="logo col-md-2 col-lg-2 d-none d-lg-block">
					<a href="/">
						<h2
							style="text-transform: capitalize; font-size: 1.25rem; font-weight: bold;color: rgb(81, 35, 2);">
							Adan perfumes</h2>
					</a>
				</div>
				<!--End Desktop Logo-->
				<div class="col-2 col-sm-3 col-md-3 col-lg-8">
					<div class="d-block d-lg-none">
						<button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
							<i class="icon anm anm-times-l"></i>
							<i class="anm anm-bars-r"></i>
						</button>
					</div>
					<!--Desktop Menu-->
					<nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
						<ul id="siteNav" class="site-nav medium center hidearrow">
							<li class="lvl1 parent megamenu"><a href="/">Home <i class="anm anm-angle-down-l"></i></a>

							</li>
							<li class="lvl1 parent megamenu"><a href="/shop">Shop <i
										class="anm anm-angle-down-l"></i></a>

							</li>
							<li class="lvl1 parent megamenu"><a href="/shop">Product <i
										class="anm anm-angle-down-l"></i></a>

							</li>
							<li class="lvl1 parent dropdown"><a href="/shop">Perfumes <i
										class="anm anm-angle-down-l"></i></a>

							</li>


						</ul>
					</nav>
					<!--End Desktop Menu-->
				</div>
				<!--Mobile Logo-->
				<div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
					<div class="logo">
						<a href="/">
							<h2
								style="text-transform: capitalize; font-size: 1.25rem; font-weight: bold;color: rgb(81, 35, 2);">
								adan perfumes</h2>
						</a>
					</div>
				</div>
				<!--Mobile Logo-->
				<div class="col-4 col-sm-3 col-md-3 col-lg-2">
					<div class="site-cart">
						<a href="/cart" title="Cart">
							<i class="icon anm anm-bag-l" style="font-size: 30px;"></i>


						</a>
						<!--Minicart Popup-->

						<!--End Minicart Popup-->
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--End Header-->
	<!--Mobile Menu-->
	<div class="mobile-nav-wrapper" role="navigation">
		<div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Menu</div>
		<ul id="MobileNav" class="mobile-nav">
			<li class="lvl1 parent megamenu"><a href="/">Home <i class="anm anm-plus-l"></i></a>
			</li>
			<li class="lvl1 parent megamenu"><a href="/shop">Shop <i class="anm anm-plus-l"></i></a>
			</li>

		</ul>
	</div>
	<!--End Mobile Menu-->

	{{!-- --}}


	<div class="cart-wrap">
		<div class="container">
			<div class="coupon-box col-md-6">
				<form action="/couponValidation" method="post" accept-charset="utf-8">
					<div class="coupon-input">
						<input type="text" name="code" placeholder="Coupon Code">
						<button type="submit" class="round-black-btn">Apply Coupon</button><br>
						<label for="">&nbsp{{couponError}}</label>
					</div>
				</form>
			</div>
			<form action="/proceedToPayment" method="post">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-heading h3">CHECKOUT</div>
						<div class="table-cart">

							{{!-- modal for address --}}
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal"
								data-bs-target="#exampleModal">
								Add Address
							</button>
							<label for="" class="text-danger">&nbsp{{addressError}}</label>



							{{!-- address --}}

							<div>


								{{#each addressess}}
								<div class="card card-block rounded p-2" style="background-color:#d1d2d6 ;">
									<label for="add{{inc @key}}" class="card-title">{{this.name}}</label>
									<label for="add{{inc @key}}" class="card-text">
										<input type="radio" id="add{{inc @key}}" name="address"
											value="{{this.name}} ,{{this.house}},{{this.street}},{{this.place}},{{this.district}},{{this.state}},{{this.pincode}}"
											required>
										{{this.house}},{{this.street}},
									</label>
									<label for="add{{inc @key}}" class="card-title">{{this.place}},{{this.district}},</label>
									<label for="add{{inc @key}}" class="card-title">{{this.state}},{{this.pincode}},</label>

								</div>

								{{/each}}


							</div>
							{{!-- address --}}



						</div>
						<!-- /.table-cart -->
					</div>
					<!-- /.col-lg-8 -->
					<div class="col-lg-4" >
						<div class="cart-totals" style="background-color: #d1d2d6;">
							<h3>Cart Totals</h3>
							{{!-- <form action="#" method="get" accept-charset="utf-8"> --}}
								<table>
									<tbody>
										<tr>
											<td>Total MRP</td>

											<td class="">{{totalMRP}}</td>
										</tr>
										<tr>
											<td>discount</td>

											<td class="">{{discount}}</td>
										</tr>
										<tr>
											<td>Coupon Discount</td>
											<input type="number" name="couponValue" value="{{couponvalue}}" hidden>
											<td class="">{{couponValue}}</td>
										</tr>
										<tr>
											<td>Subtotal</td>
											<input type="number" name="totalAmount" value="{{totalAmount}}" hidden>
											<td class="subtotal">{{totalAmount}}</td>
										</tr>
										<tr>
											<td>Shipping</td>
											<td class="free-shipping">Free Shipping</td>
										</tr>
										<tr class="total-row">
											<td>Total</td>
											<td class="price-total"> {{totalAmount}}</td>
										</tr>
									</tbody>
								</table>

								{{!-- --}}
								<!-- /form -->
								{{!-- payment --}}
								<div class="form-check">
									<input class="" type="radio" name="paymentType" value="onlinePayment"
										id="flexRadioDefault1" />
									<label class="form-check-label" for="flexRadioDefault1"> Online payment </label>
								</div>

								<!-- Default checked radio -->
								<div class="form-check">
									<input class="" type="radio" name="paymentType" value="cod" id="flexRadioDefault2"
										checked />
									<label class="form-check-label" for="flexRadioDefault2">Cash On Delivery</label>
								</div>
								{{!-- payment --}}
								<div class="btn-cart-totals">
									{{!-- <a href="#" class="update round-black-btn" title="">Update Cart</a> --}}
									<button type="submit" class="udate round-black-btn">Proceed</button>
									{{!-- <a href="#" class="checkout round-black-btn" title="">Proceed to Checkout</a>
									--}}
								</div>
								<!-- /.btn-cart-totals -->


						</div>
						<!-- /.cart-totals -->
					</div>
					<!-- /.col-lg-4 -->
			</form>
		</div>

	</div>
	</div>
	<section>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Enter Address</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form action="/addAddress" method="post">
						<div class="modal-body">

							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
								<div class="col-sm-10">
									<input type="text" name="name" class="form-control-plaintext" id="staticEmail"
										value="" required>
								</div>
							</div>

							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">House</label>
								<div class="col-sm-10">
									<input type="text" name="house" class="form-control-plaintext" id="staticEmail"
										value="" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">Street</label>
								<div class="col-sm-10">
									<input type="text" name="street" class="form-control-plaintext" id="staticEmail"
										value="" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">Place</label>
								<div class="col-sm-10">
									<input type="text" name="place" class="form-control-plaintext" id="staticEmail"
										value="" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">district</label>
								<div class="col-sm-10">
									<input type="text" name="district" class="form-control-plaintext" id="staticEmail"
										value="">
								</div>
							</div>
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">state</label>
								<div class="col-sm-10">
									<input type="text" name="state" class="form-control-plaintext" id="staticEmail"
										value="" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">pincode</label>
								<div class="col-sm-10">
									<input type="text" name="pincode" class="form-control-plaintext" id="staticEmail"
										value="" required>
								</div>
							</div>




						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Including Jquery -->
		<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
		<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
		<script src="assets/js/vendor/jquery.cookie.js"></script>
		<script src="assets/js/vendor/wow.min.js"></script>
		<!-- Including Javascript -->
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/plugins.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/lazysizes.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
		{{!-- modal for address --}}
	</section>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	{{!-- --}}
</body>

</html>