<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Perfumes- Adan Store</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="css/styles.css" rel="stylesheet" />
	<link href="css/cartstyles.css" rel="stylesheet" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css">
	<!------ Include the above in your HEAD tag ---------->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #313131;">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="/"><img src="/assets/img/1234.svg" alt="..." /></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
					<li class="nav-item"><a class="nav-link"
							href="/getProductByCategory/6402e75511e9188650151bac">Perfumes</a></li>
					<li class="nav-item"><a class="nav-link"
							href="/getProductByCategory/6405ddd4c6781ca379e9f7a1">Attars</a></li>

				</ul>


				{{#if isLoggedIn}}
				<form class="d-flex">
					<button class="btn btn-outline-light" type="submit">
						<i class="bi-cart-fill me-1"></i>
						Cart
						{{!-- <span class="badge text-white ms-1 rounded-pill"
							style="background-color: #313131;">0</span> --}}
					</button>
				</form>
				{{/if}}
				{{!-- <li class="nav-item"> --}}
					{{#if isLoggedIn}}
					<a class="btn btn-secondary" href="/logout">Logout</a>

					{{else}}
					<a class="btn btn-secondary" href="/login">Login</a>
					{{/if}}

					{{!-- <a class="nav-link" href="/login">Login</a> --}}
					{{!--
				</li> --}}
			</div>
		</div>
	</nav>
	{{!-- --}}


	<div class="cart-wrap">
		<div class="container">
			<form action="/proceedToPayment" method="post">
				<div class="row">
					<div class="col-lg-8">
						<div class="main-heading">Checkout</div>
						<div class="table-cart">
							{{!-- <table>
								<thead>
									<tr>
										<th>Product</th>
										<th>Quantity</th>
										<th>Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{{#each products}}
									<tr>
										<td>
											<div class="display-flex align-center">
												<div class="img-product">
													<img src="/images/{{this.mainImage.filename}}" alt=""
														class="mCS_img_loaded" style="border-radius: 5px;">
												</div>
												<div class="name-product">

													<br>{{this.title}}
												</div>
												<div>
													{{this.price}}
													<br>
													<del>{{this.MRP}}</del>
												</div>
											</div>
										</td>
										<td class="product-count">
											<form action="#" class="count-inlineflex">
												<div class="qtyminus"><a href="/minusQuantity/{{this._id}}">-</a> </div>
												<input type="text" name="quantity" value={{this.quantity}} class="qty">
												<div class="qtyplus"><a href="/addQuantity/{{this._id}}">+</a></div>
											</form>
										</td>
										<td>
											<div class="total">
												{{this.itemprice}}
												<del>{{this.itemMRP}}</del>
											</div>
										</td>
										<td>

											<button type="button" class="btn" data-bs-toggle="modal"
												data-bs-target="#exampleModal">
												<span class="mdi mdi-delete-circle fs-3 text-dark"></span>
											</button>

											<!-- Modal -->
											<div class="modal fade" id="exampleModal" tabindex="-1"
												aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLabel">Confirmation
															</h5>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body text-center">
															Do you want to delete this product
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal">Close</button>
															<a href="/deleteFromCart/{{this._id}}">
																<button type="button"
																	class="btn btn-warning">Delete</button>
															</a>

														</div>
													</div>
												</div>
											</div>


											{{!-- <a href="/deleteFromCart/{{this._id}}">
												<span class="mdi mdi-delete-circle fs-3 text-dark"></span>
											</a> --}}

											{{!--
										</td>
									</tr>
									{{/each}}

								</tbody>
							</table> --}}
							{{!-- modal for address --}}
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#exampleModal">
								Add Address
							</button>


							{{!-- <input type="text" required> --}}
							{{!-- address --}}

							<div>


								{{#each addressess}}
								<div class="radio">
									<label>
										<input type="radio" name="address" value="{{this.street}},{{this.house}}"
											required>
										{{this.street}} <br> {{this.house}}
									</label>
								</div>
								{{/each}}
								{{!-- <button type="submit">Submit</button> --}}

							</div>
							{{!-- address --}}


							<div class="coupon-box">
								<form action="#" method="get" accept-charset="utf-8">
									<div class="coupon-input">
										<input type="text" name="coupon code" placeholder="Coupon Code">
										<button type="submit" class="round-black-btn">Apply Coupon</button>
									</div>
								</form>
							</div>
						</div>
						<!-- /.table-cart -->
					</div>
					<!-- /.col-lg-8 -->
					<div class="col-lg-4">
						<div class="cart-totals">
							<h3>Cart Totals</h3>
							{{!-- <form action="#" method="get" accept-charset="utf-8"> --}}
								<table>
									<tbody>
										<tr>
											<td>Total MRP</td>

											<td class="">{{totalMRP}}</td>
										</tr>
										<tr>
											<td>discount</td>

											<td class="">{{discount}}</td>
										</tr>
										<tr>
											<td>Subtotal</td>
											<input type="number" name="totalAmount" value="{{totalAmount}}" hidden>
											<td class="subtotal">{{totalAmount}}</td>
										</tr>
										<tr>
											<td>Shipping</td>
											<td class="free-shipping">Free Shipping</td>
										</tr>
										<tr class="total-row">
											<td>Total</td>
											<td class="price-total"> {{totalAmount}}</td>
										</tr>
									</tbody>
								</table>
							{{!-- </form> --}}
							{{!-- --}}
							<!-- /form -->
							{{!-- payment --}}
							<div class="form-check" >
							<input class="form-check-input" type="radio" name="payment" value="onlinePayment" id="flexRadioDefault1" />
							<label class="form-check-label" for="flexRadioDefault1">  Online payment  </label>
							</div>

							<!-- Default checked radio -->
							<div class="form-check">
							<input class="form-check-input" type="radio" name="payment" value="cod" id="flexRadioDefault2" checked/>
							<label class="form-check-label" for="flexRadioDefault2">Cash On Delivery</label>
							</div>
							{{!-- payment --}}
							<div class="btn-cart-totals">
								{{!-- <a href="#" class="update round-black-btn" title="">Update Cart</a> --}}
								<button type="submit" class="udate round-black-btn">Proceed</button>
								{{!-- <a href="#" class="checkout round-black-btn" title="">Proceed to Checkout</a> --}}
							</div>
							<!-- /.btn-cart-totals -->


						</div>
						<!-- /.cart-totals -->
					</div>
					<!-- /.col-lg-4 -->
			</form>
		</div>

	</div>
	</div>
	<section>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Enter Address</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form action="/addAddress" method="post">
						<div class="modal-body">

							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">House</label>
								<div class="col-sm-10">
									<input type="text" name="house2" class="form-control-plaintext" id="staticEmail"
										value="">
								</div>
							</div>
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">Street</label>
								<div class="col-sm-10">
									<input type="text" name="street" class="form-control-plaintext" id="staticEmail"
										value="">
								</div>
							</div>




						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		{{!-- modal for address --}}
	</section>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	{{!-- --}}
</body>

</html>